<!DOCTYPE html>
<html>
<head>
  <title>Mega Corporation Hyper Important Web Presence</title>
</head>
<body>
<p ALIGN=CENTER>Welcome to our testable, scalable, deployable app</p>
<p ALIGN=CENTER>This page has been accessed <%= count %> times.</p>
<p ALIGN=CENTER>Please help me, I'm trapped in the bit mines and forced to make ruby apps</p>
</body>
</html>